/* GENERAL SELECTORS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
    font-family: Poppins;
}
.overall{
    width: fit-content;
    margin: 5%;
}
svg, button, a{
    cursor: pointer;
}
span {
    color: #51A0CD;
}
.logo1 img,
footer img {
    scale: .6;
}
/* END */


/* TEXT */
h1 {
    color: #000;
    text-align: center;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin: 5px;
    padding: 5px;
}
h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    padding: 10px;
}
h3 {
    color: #444649;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}




/* NAVIGATION */
header {
    margin-bottom: 30px;
}
nav ul {
    list-style: none;
}
#hide {
    display: none;
}
nav ul li a{
    color: #444649;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

nav button {
    border-radius: 5px;
    background: #2AA2D2;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 14px;
}
#mobile-btn {
    display: flex;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.logo1 {
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 10px;
}
/* END */


/* MAIN SECTION */
.main1 p {
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.main1-text {
    margin-bottom: 30px;
}
.main1, p {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    margin: 5px;
    padding: 5px;
}
.yt-video {
    /* max-width: 1125px;     */
}
iframe {
    width: 100%;
    border-radius: 20px;
}
/* END */



/* CARD SECTION */
.services h3 {
    margin: 35px auto;
}
.qualities h3 {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px auto;
}
.main-text p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-container p {
    color: #444649  ;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 35px auto ;
}
.card-section, p {
    color: #000000;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.card-section {
    background: #2AA2D2;
    border-radius: 20px;
    padding: 15px;
    max-width: 1370px;
    margin: 30px auto;
}
.card-container {
    display: grid;
    grid-gap: 10px;
    width: 100%;
}
.card {
    background: #FFF;
    max-width: 600px;
    min-height: 320px;
    padding: 10px;
    border-radius: 10px;
}
.qualities img {
    width: fit-content;
    margin-top: 22px;
}
.services img {
    width: 100%;
}
.solo-btn {
    width: fit-content;
    margin: 44px auto;
}
.solo-btn  button {
    color: #FFF;
    background-color: #2AA2D2;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
/* END */

/* STORY SECTION */
.story h2 {
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.story p {
    color: #444649;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 224%; /* 40.32px */
    padding: 10px;
}
.main3 img {
    width: 100%;
    margin: 0 auto;
}

.story {
    margin: 35px auto;
    padding: 15px;
}
/* END */


/* HOW TO USE SECTION */
.how-to-use h2 {
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 2em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.how-to-use-png {
    width: fit-content;
    margin: 0 auto;
}
.how-to-use-png #flex-img2 {
    display: none;
}
.how-to-use-png img {
    width: 100%;
}
/* END */



/* FAQ SECTION */
.FAQ h2 {
    color: #000;
    font-weight: 400;
}
.FAQ-grid  {
    display: grid;
    grid-gap: 25px;
}
.FAQ-grid svg {
    margin-top: 3px;
    width: 10px;
    float: right;
}
.FAQ-question {
    max-width: 500px;
    border-radius: 10px;
    background: #FAF9F6;
    padding: 1.5em;
}
.FAQ-question label {
    color: #444649;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
/* END */


/********** FOOTER **********/
footer ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: end;
}
footer ul li h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}
footer ul li p {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: start;
}
footer {
    background: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 60px;
    grid-row-end: auto;
}
.footer ul {
    list-style: none;
    margin: 10px;
}
.contact {
    float: left;
}
/* END */


/* MEDIA QUERIES */

@media only screen and (min-width: 620px) {
    .main-story p {
        font-size: 21px;
        line-height: 200%;
    }
    .card-container 
    {
        width: 100%;
    }
    .main-story {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        place-items: center;
        height: 70%;
    }      
    .card-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .FAQ-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #hide {
        display: flex;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menu-open {
        display: none;
    }
    .how-to-use-png #flex-img1 {
        display: none;
    }
    .how-to-use-png #flex-img2 {
        display: flex;
        width: 100%;
        padding: 30px;
    }
    iframe {
        height: 320px;
    }

}
@media only screen and (min-width: 980px) {
    .card-container {
        display: flex;
    }
    .card {
        width: 100%;
    }
    .logo1 img,
    footer img
    {
        scale: 1;
    }
    nav {
        margin: 0;
        padding: 0;
    }
    nav ul li a{
        color: #444649;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    nav button {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 14px;
    }
    .solo-btn button {
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 14px 16px;
    }
}